<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><?=$title;?></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="${currentPage.description}">
<meta name="keywords" content="${currentPage.keywords}">
<!-- html5 -->
<script type="text/javascript" src="/static/js/html5.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/cssreset-min.css">
<link rel="stylesheet" type="text/css" href="/static/thirdparty/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/thirdparty/bootstrap/theme/black-green/theme.css">
<link rel="stylesheet" type="text/css" href="/static/css/base.css">

<script src="/static/thirdparty/jquery/jquery-1.9.1.min.js"></script>
<script src="/static/thirdparty/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/base.js"></script>

<!-- admin area start-->
<link rel="stylesheet" type="text/css" href="/static/css/admin.css">

<script src="/static/thirdparty/jquery/jquery-ui.min.js"></script>
<script src="/static/thirdparty/jquery/jquery.json.js"></script>
<script src="/static/js/admin.js"></script>

<script>
	$(function(){
		$.admin({ctx:'',currentPageId:'${currentPage.id}'});
	});
</script>
<!-- admin area end -->
</head>
<body>
	<tiles:insertAttribute name="content" />
</body>
</html>